.img1 {
width: 400px;
float:left;
margin:12px;
}

p {
    font-family:'Times New Roman', Times, serif;
    font-size: 12pt;
    margin-left:5px;
    margin-right: 5px;


}

.focim{
    font-family: "Freeman", sans-serif;
    font-size: 25pt;
    text-align: center;
    margin:20px;
}

.img2 {
    width: 400px;
    float:right;
    margin:12px;
}

#kozep{
    left: 500px;
}

.alsoflexbox {
    display: flex;
    justify-content:space-evenly;
    font-family: "Freeman", sans-serif;
  font-weight: 800;
  font-size: 32px;
  margin-top:120px;
  margin-bottom: 80px;
  flex-wrap: wrap;

  }

  .kezdo {
    font-family: "Freeman", sans-serif;
    font-weight: 800;
    font-size: 2rem;
    display: block;
    text-decoration: none;
    color: black;
    text-align: center;
    margin-bottom: 50px;

  }

  @media (max-width: 768px){


    .img1 {
        display: block;
        margin-left:auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align:center;
        width:300px;
        height: auto;
        float:none;
    }

    .img2 {
        display: block;
        margin-left:auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align:center;
        width:300px;
        height: auto;
    float:none;
    }
    .szoveg {
     text-align: justify;
    }

p {text-align: justify;
}}